<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.randolphledesma.testlab">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
            android:name="android.hardware.camera"
            android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
            android:name=".TestLabApplication"
            android:allowBackup="true"
            android:extractNativeLibs="true"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.MyApp"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.ContactsActivity"></activity>
        <activity android:name=".ui.ContactsFragment" />
        <activity
                android:name=".ui.ScanActivity"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
                android:name=".ui.WeatherActivity"
                android:parentActivityName=".ui.MainActivity" />
        <activity
                android:name=".ui.CountriesActivity"
                android:launchMode="singleTop"
                android:parentActivityName=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>